@import './cvf-genomic-search.css';

body.vf-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#root {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
